.headerLogo{
	padding:0px; margin: 0px;
	height: 131px;
	width: 402px;
	background-image: url("overture.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	color:#F3F8FB;
}
.productNameDisplay{
	color:#9AB4BE;
	padding-top: 60px;
	padding-left: 30px;
	font-size: smaller;
	cursor:default
}
.SPINP {
     width: 100%;
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
     border: 0px solid;
}
.SPINPV {
    width: 60px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
     border: 0px solid;
}

table{
    border: 0px solid;
    width: 650px;
    padding: 0;
}
th{
    border: 1px solid black;
}
td {
    border: 0px solid black;
    overflow: hidden;
    padding: 0;
    font-size: smaller;
    height: 20px;
    width: 100%;
}