[project]
	description = Service Creation Front End
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gitlakerzhou
[access "refs/for/refs/*"]
	read = group user/gitlakerzhou
	push = group user/gitlakerzhou
	label-Code-Review = -2..+2 group user/gitlakerzhou
	label-Verified = -1..+1 group user/gitlakerzhou
	rebase = group user/gitlakerzhou
	removeReviewer = group user/gitlakerzhou
	submit = group user/gitlakerzhou
[access "refs/heads/*"]
	read = group user/gitlakerzhou
	create = group user/gitlakerzhou
	push = +force group user/gitlakerzhou
	pushMerge = group user/gitlakerzhou
[access "refs/tags/*"]
	push = +force group user/gitlakerzhou
	pushTag = group user/gitlakerzhou
	pushSignedTag = group user/gitlakerzhou
